<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>
    Superficial Blog | {% block title %}{% endblock %}
  </title>
  <meta name="keywords" content="{{ site_info.keywords }}">
  <meta name="description" content="{{ site_info.description }}">
  {#  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' type='text/css'/>#}
  <link rel='stylesheet' href='{% static "css/font-awesome.min.css" %}' type='text/css'/>
  <link rel='stylesheet' href='{% static "css/style.css" %}' type='text/css'/>
  {% block css %}{% endblock %}
</head>
<body>
<!-- 头部 -->
<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="header-inner">
        <div class="left">
          <div class="logo">
            <h1>
              <a href="{% url 'blog:index' %}">Superficial</a>
            </h1>
          </div>
          <nav class="nav">
              <li class="active">
                <a href="{% url 'blog:index' %}">首页</a>
              </li>
              {% for nav in menu %}
                <li>
                  <a href="{% url 'blog:category' nav.id %}">{{ nav.name }}</a>
                  <ul class="sub-menu">
                    {% for child in nav.category_set.all %}
                      <li>
                        <a href="{% url 'blog:category' child.id %}">
                          {{ child }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
              <li>
                <a href="{% url 'blog:about' %}">关于博主</a>
              </li>
          </nav>
        </div>
        <div class="search-box">
          <form action="{% url 'blog:search' %}">
            <input type="text" name="search" class="search" placeholder="请输入关键字">
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
            <div class="nav-collapse">
              <span class="navicon"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
{% block content %}

{% endblock %}

<!-- 底部 -->
<footer id="footer">
  <div class="container">
    <ul class="link-wrap">
      {% for link in links %}
        <li class="link">
          <a href="{{ link.link_url }}" target="_blank">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="copyright">{{ site_info.copyright }}
      · <a href="http://www.miibeian.gov.cn" target="_blank">{{ site_info.code }}</a>
    </div>
    <div class="back-top">
      <i class="fa fa-arrow-up"></i>
    </div>
  </div>
</footer>
<script type='text/javascript' src='{% static "js/jquery.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
<script src="{% static 'js/common.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>