<div class="comments">
  <h3>评论({{ comment_list.count }})
  </h3>
  <form class="comment-form">
    <textarea name="comment" rows="4"></textarea>
    <div class="comment-author-wrap">
      <div class="comment-inp author">
        <label for="author">昵称(必填)</label>
        <input type="text" id='author' name='author' placeholder="昵称">
        <p class="comment-tips">{{ author.msg }}</p>
      </div>
      <div class="comment-inp email">
        <label for="email">邮箱(必填)</label>
        <input type="text" id='email' name='email' placeholder="邮箱">
        <p class="comment-tips">{{ email.msg }}</p>
      </div>
      <div class="comment-inp url">
        <label for="url">网址</label>
        <input type="text" id='url' name='url' placeholder="网址">
        <p class="comment-tips">{{ url.msg }}</p>
      </div>
    </div>
    <a href="" class="btn btn-primary pull-right">评论</a>
  </form>
  <ul class="comment-list">
    {% for comment in comment_list %}
      <li class="comment-item" id="comment-{{ comment.pk }}">
        <img src="{{ comment.avatar.url }}" alt="" class="avatar">
        <div class="text">{{ comment.content }}</div>
        <div class="footer">
          <span class="user">{{ comment.name }}</span>
          <time>{{ comment.created_time }}</time>
          <a href="" class="reply">回复</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>