{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        <!-- 轮播图 -->
        <div class="carousel">
          <!-- 轮播图片 -->
          <div class="carousel-inner">
            <ul>
              {% for foo in banner %}
                {% if forloop.counter0 == 0 %}
                  <li class="item active">
                    <img src="{{ foo.img.url }}" alt="{{ foo.text_info }}">
                    <p class="carousel-caption"></p>
                  </li>
                {% else %}
                  <li class="item">
                    <img src="{{ foo.img.url }}" alt="{{ foo.text_info }}">
                    <p class="carousel-caption"></p>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <!-- 左右控制器 -->
          <a class="prev carousel-control">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="next carousel-control">
            <i class="fa fa-chevron-right"></i>
          </a>
          <!-- 底部小圆点 -->
          <ul class="carousel-indicators">
            {% for foo in banner %}
              {% if forloop.counter0 == 0 %}
                <li class="active">
                </li>
              {% else %}
                <li></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <!-- 轮播图 -->
        <section class="article-wrap">
          <ul class="tab">
            <li class="post-left-title">最新文章</li>
          </ul>
          {% for article in pages.object_list %}
            <article class="article-list">
              <a href="{% url 'detail' article.id %}"
                 title="{{ article.title }}"
                 class="thumbnail-wrap"
              >
                <img src="{{ article.img.url }}"
                     alt="{{ article.title }}"
                     class="thumbnail"/>
              </a>
              <div class="article-inner">
                <h3 class="title">
                  <a href="{% url 'detail' article.id %}"
                     title="{{ article.title }}">
                    {{ article.title }}
                  </a>
                </h3>
                <div class="summary">
                  {{ article.excerpt }}
                </div>
                <div class="article-info">
                  <div class="meta">
                    <span class="label label-info">
                      <a href="{% url 'category' article.category.pk %}">
                        {{ article.category.name }}
                      </a>
                    </span>
                    <span>
                      <i class="fa fa-clock-o"></i>
                      {{ article.created_time }}
                    </span>
                    <span>
                      <i class="fa fa-eye"></i>
                      {{ article.views }}
                    </span>
                    <span>
                      <i class="fa fa-commenting-o"></i>
                      {{ article.comment_set.all.count }}
                    </span>
                  </div>
                  <a class="label label-info detail-btn" href="{% url 'detail' article.pk %}">
                    阅读详情
                  </a>
                </div>
              </div>
            </article>
          {% endfor %}
          {% include 'paginator.html' %}
        </section>
      </div>
      <div class="sidebar">
        {% include 'sidebar.html' %}
      </div>
    </div>
  </section>
{% endblock %}
{% block js %}
  <script src="{% static 'js/banner.js' %}"></script>
{% endblock %}