{% extends "base.html" %}
{% load comment_tags %}
{% block title %}
  首页
{% endblock %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        {% include 'banner.html' %}
        <section class="article-wrap">
          <ul class="tab">
            <li class="post-left-title">最新文章</li>
          </ul>
          {% for article in page_obj %}
            <article class="article-list">
              <a href="{% url 'blog:detail' article.id %}"
                 title="{{ article.title }}"
                 class="thumbnail-wrap"
              >
                <img src="{{ article.img.url }}"
                     alt="{{ article.title }}"
                     class="thumbnail"/>
              </a>
              <div class="article-inner">
                <h3 class="title">
                  <a href="{% url 'blog:detail' article.id %}"
                     title="{{ article.title }}">
                    {{ article.title }}
                  </a>
                </h3>
                <div class="summary">
                  {{ article.summary }}
                </div>
                <div class="article-info">
                  <div class="meta">
                    <span class="label label-info">
                      <a href="{% url 'blog:category' article.category.navigation.slug article.category.slug %}">
                        {{ article.category.name }}
                      </a>
                    </span>
                    <span>
                      <i class="fa fa-clock-o"></i>
                      {{ article.created_time }}
                    </span>
                    <span>
                      <i class="fa fa-eye"></i>
                      {{ article.views }}
                    </span>
                    <span>
                      <i class="fa fa-commenting-o"></i>
                      {% get_comment_count article.id %}
                    </span>
                  </div>
                  <a class="label label-info detail-btn" href="{% url 'blog:detail' article.pk %}">
                    阅读详情
                  </a>
                </div>
              </div>
            </article>
          {% endfor %}
          {% include 'paginator.html' %}
        </section>
      </div>
      <div class="sidebar">
        {% include 'sidebar.html' %}
      </div>
    </div>
  </section>
{% endblock %}
{% block js %}
  <script src="{% static 'js/banner.js' %}"></script>
{% endblock %}