<aside class="aside">
  <h4 class="title">热门文章排行</h4>
  <ol class="hot-list">
    {% for article in hot %}
      <li>
        <a href="{% url 'detail' article.pk %}" title="{{ article.title }}">
          {{ article.title }}
        </a>
      </li>
    {% endfor %}
  </ol>
</aside>
<aside class="aside">
  <h4 class="title">热门推荐</h4>
  <ul class="recommend">
    {% for article in recommend %}
      <li>
        <div class="img">
          <a href="{% url 'detail' article.pk %}" title="{{ article.title }}">
            <img src="{{ article.img.url }}"
                 alt="{{ article.title }}"
                 class="wp-post-image"/>
          </a>
        </div>
        <p class="text">
          <a href="{% url 'detail' article.pk %}">
            {{ article.title }}
          </a>
        </p>
      </li>
    {% endfor %}
  </ul>
</aside>
<aside class="aside">
  <h4 class="title">所有标签</h4>
  <ul class="tags">
    {% for tag in tags %}
      <li>
        <a href="{% url 'tags' tag.name %}">
          {{ tag.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
<aside class="aside">
  <h4 class="title">关注我们</h4>
  <div class="wid-about">
    <p>拓普Python学院，欢迎关注！</p>
    <img src="{% static "picture/weixinqr.jpg" %}" alt="微信二维码" width="160" height="160">
  </div>
  <div class="wid-about">
    <p><strong>联系方式:</strong></p>
    <p>QQ:445813</p>
    <p>Email：445813@qq.com</p>
  </div>
</aside>
