{% load staticfiles %}
<section class="widget post-right-item">
  <h4 class="post-right-title">热门文章排行</h4>
  <ol class="hot-list">
    {% for h in hot %}
      <li>
        <a href="{% url 'detail' h.pk %}" title="{{ h.title }}">{{ h.title }}</a>
      </li>
    {% endfor %}
  </ol>
</section>
<section class="widget post-right-item">
  <h4 class="post-right-title">热门推荐</h4>
  <ul class="post-hot clearfix">
    {% for k in remen %}
      <li>
        <div class="img">
          <a href="{% url 'detail' k.pk %}" title="{{ k.title }}">
            <img src="{{ k.img.url }}"
                 alt="{{ k.title }}"
                 class="wp-post-image" width="120" height="80"/>
          </a>
        </div>
        <p class="text">{{ k.title }}</p>
      </li>
    {% endfor %}
  </ul>
</section>
<section class="widget post-right-item">
  <h4 class="post-right-title">所有标签</h4>
  <div class="tags">
    {% for tag in tags %}
      <a href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
    {% endfor %}
  </div>
</section>
<div class="post-right-item">
  <h4 class="post-right-title">关注我们</h4>
  <div class="wid-about">
    <p>拓普Python学院，欢迎关注！</p>
    <img src="{% static "picture/weixinqr.jpg" %}" alt="微信二维码" width="160" height="160">
  </div>
  <div class="wid-about">
    <p><strong>联系方式:</strong></p>
    <p>QQ:445813</p>
    <p>Email：445813@qq.com</p>
  </div>
</div>
